{% extends 'layouts/base.html' %}
{% block content %}

<p>Welcome {{user}}</p>

<div class="pagetitle">
  <div style="text-align:right ; ">
    <a class="btn btn-primary" style="margin-bottom: 15px; margin-right:15px ;" href="{% url 'classroom_create'%}" role="button">Create Classroom</a>
  
  </div>

  <h2 style="text-align: center;">Available Classrooms</h2>  
</div>


<!-- End Page Title -->

<section class="section">

  <div class="row">
    {% for i in object_list %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3><a href="{% url 'classroom_detailview' i.id %} ">{{i.classname}}</a></h3>
          <!-- <h3 class="card-title">{{i.classname}}</h3> -->
          <h6 class="card-subtitle mb-2 text-muted">{{i.section}} </h6>
          <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
          <a href="{% url 'classroom_edit' i.id %}" class="card-link">Edit</a>
          <a href="{% url 'classroom_delete' i.id %}" class="card-link">Delete</a>

        </div>
      </div>


    </div>
    {% endfor %}

  </div>
</section>

{% endblock content %}